.home-corpo{
  background-image: linear-gradient(#228b22c7,#000000cc);
}
.titulo-inicio {
  color: white;
  -webkit-text-fill-color: #518004;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: cursive;
}
@media (min-width: 992px) {
  .fontTitulo {
    font-size: 114px;
  }
}
@media (max-width: 991px) {
  .fontTitulo {
    font-size: 40px;
  }
}

.sub-titulo {
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 60px;
}
