/* You can add global styles to this file, and also import other style files */

@media (min-width: 992px){
  body {
    height: 100vh;
    background-image: url("./assets/img/logo.jpeg");
    background-repeat: no-repeat;
    background-color: #4f4f50;
    background-attachment: fixed;
    background-position: center;
  }
}

@media (max-width: 991px){
  body {
    height: 100vh;
    background-image: url("./assets/img/logo.jpeg");
    background-repeat: no-repeat;
    background-size: 134%;
    background-color: #4f4f50;
    background-attachment: fixed;
    background-position: center;
  }
}
