<div class="container">
    <h2>MAT</h2>
    <h6>Mulambos Airsoft Team</h6>
    <table class="table table-sm table-striped table-borderless">
        <caption>Tabela do jogo do dia 10/11/2019</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Operador</th>
                <th scope="col">Apelido</th>
                <th scope="col">Classe</th>
                <th scope="col">Arma Primária</th>
                <th scope="col">Arma Secundária</th>
                <th scope="col">Situação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let opr of listOpr | async">
                <td class="align-middle">{{ opr.nmOpr }}</td>
                <td class="align-middle">{{opr.aplOpr}}</td>
                <td class="align-middle">{{opr.clOpr}}</td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <th class="table-active" scope="col">Nota Fiscal</th>
                            <th class="table-active" scope="col">FPS</th>
                        </thead>
                        <tbody>
                            <tr class="table-active">
                                <td>{{opr.ntFirstGun}}</td>
                                <td>{{opr.fpsFirstGun}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <th class="table-active" scope="col">Nota Fiscal</th>
                            <th class="table-active" scope="col">FPS</th>
                        </thead>
                        <tbody>
                            <tr class="table-active">
                                <td>{{opr.ntSecondGun}}</td>
                                <td>{{opr.fpsSecondGun}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="align-middle">
                    <div *ngIf="opr.siOpr">
                        <a href="" class="badge badge-success d-flex justify-content-center">Liberado</a>
                    </div>
                    <div *ngIf="!opr.siOpr">
                        <a href="#" class="badge badge-danger">Impossibilitado</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>