
<div class="container">

    <h1>Tabela do jogo do dia 10/11/2019</h1>

    <h2>MAT</h2>
                    <h6>Mulambos Airsoft Team</h6>

    <table class="table table-sm table-striped table-borderless">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Operador</th>
                <th scope="col">Apelido</th>
                <th scope="col">Classe</th>
                <th scope="col">Arma Primária</th>
                <th scope="col">Arma Secundária</th>
                <th scope="col">Situação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">Leduar Araujo</td>
                <td class="align-middle">Marshalls</td>
                <td class="align-middle">DMR</td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <th class="table-active" scope="col">Nota Fiscal</th>
                            <th class="table-active" scope="col">FPS</th>
                        </thead>
                        <tbody>
                            <tr class="table-active">
                                <td>OK</td>
                                <td>450</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <th class="table-active" scope="col">Nota Fiscal</th>
                            <th class="table-active" scope="col">FPS</th>
                        </thead>
                        <tbody>
                            <tr class="table-active">
                                <td>OK</td>
                                <td>350</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="align-middle">
                    <a href="" class="badge badge-success d-flex justify-content-center">Liberado</a>
                    <!-- <a href="#" class="badge badge-danger">Impossibilitado</a> -->
                </td>
            </tr>

            <!-- AKI FIM  -->

            <tr>
                <td class="align-middle">Ricardo Henrique</td>
                <td class="align-middle">Guaxinin</td>
                <td class="align-middle">Assault</td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <th class="table-active" scope="col">Nota Fiscal</th>
                            <th class="table-active" scope="col">FPS</th>
                        </thead>
                        <tbody>
                            <tr class="table-active">
                                <td>OK</td>
                                <td>386</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <th class="table-active" scope="col">Nota Fiscal</th>
                            <th class="table-active" scope="col">FPS</th>
                        </thead>
                        <tbody>
                            <tr class="table-active">
                                <td>OK</td>
                                <td>412</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="align-middle">
                    <!-- <a href="#" class="badge badge-success d-flex justify-content-center">Liberado</a> -->
                    <a href="#" class="badge badge-danger d-flex justify-content-center">Impossibilitado</a>
                </td>
            </tr>



        </tbody>
    </table>
</div>